---
const {
  inicio = "inicio",
  serv = "servicios",
  planes = "planes",
  blog = "blog",
  testimonio = "testimonios",
  cont = "contáctanos!",
} = Astro.props;
import DesktopNavbar from "./DesktopNavbar.astro";
import MobileNavbar from "./MobileNavbar.astro";
import Brand from "./Brand.astro";
---

<header class="flex justify-between items-center py-1 px-10 text-white text-2xl w-full sticky top-0 rounded-b-2xl z-20">
  <Brand />
  <DesktopNavbar>
    <a href="#">{inicio}</a>
    <a href="#">{serv}</a>
    <a href="#pricing">{planes}</a>
    <a href="#">{blog}</a>
  </DesktopNavbar>
  <MobileNavbar>
    <a href="#">{inicio}</a>
    <a href="#">{serv}</a>
    <a href="#pricing">{planes}</a>
    <a href="#">{blog}</a>
  </MobileNavbar>
</header>
